{% extends 'base.html' %}

{% block title %}Home_demo1{% endblock %}

{% block content %}
  <p>
    <form action='search-stock'>
      <div style="display: inline-flex; width: 100%; align-items: center; height: 40px;">
      <p style="width: fit-content; padding: 0; margin-right: 10px; margin-top: 18px; color: white">Search stock details by symbol:</p>
      <input style="margin-right: 10px" type = "text" name="stock_name">
      <input style="margin-right: 10px" type = "submit">
      </div>
    </form>
    
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="display: flex; flex-direction: column; width: 25%">
        <table class="detail-tbl" >
          <tr>
            <th>Sr. No.</th>
            <th>Stock</th>
            <th>Verdict</th>
          </tr>
          {% for i in data %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.stock}}</td>
            <td>{{i.verdict}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div style="display: flex; flex-direction: column">
          <div class="pagination">
            <span class="step-links">
                {% if data.has_previous %}
                    <a href="?page=1" style="color: white">&laquo; first</a>
                    <a href="?page={{ data.previous_page_number }}" style="color: white">previous</a>
                {% endif %}
        
                <span class="current" style="color: white">
                    Page {{ data.number }} of {{ data.paginator.num_pages }}.
                </span>
        
                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}" style="color: white">next</a>
                    <a href="?page={{ data.paginator.num_pages }}" style="color: white">last &raquo;</a>
                {% endif %}
            </span>
        </div>
      </div>
      </div>
  </p>
{% endblock %}

